<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="https://nparshook.github.io/">Home</a>
                </li>
                <li>
                  <a href="/">Protypes</a>
                </li>
            </ul>
        </nav>
        <div class="container">
          {{ content }}
        </div>
        <footer>
            <ul>
                <!--<li>
                    <a href="mailto:mygmail">email</a>
                </li>-->
                <li>
                    <a href="https://github.com/nparshook">github.com/nparshook</a>
                </li>
            </ul>
        </footer>
    </body>
</html>
